---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/hbellows/repos?sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB API KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1550246379'
      Etag:
      - W/"8947d1c08f0e1bddf888c1604e5ef442"
      X-Oauth-Scopes:
      - admin:business, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.inertia-preview; format=json
      Link:
      - <https://api.github.com/user/35637783/repos?sort=updated&page=2>; rel="next",
        <https://api.github.com/user/35637783/repos?sort=updated&page=3>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":170607745,"node_id":"MDEwOlJlcG9zaXRvcnkxNzA2MDc3NDU=","name":"Brownfield-of-Dreams","full_name":"hbellows/Brownfield-of-Dreams","private":false,"owner":{"login":"hbellows","id":35637783,"node_id":"MDQ6VXNlcjM1NjM3Nzgz","avatar_url":"https://avatars2.githubusercontent.com/u/35637783?v=4","gravatar_id":"","url":"https://api.github.com/users/hbellows","html_url":"https://github.com/hbellows","followers_url":"https://api.github.com/users/hbellows/followers","following_url":"https://api.github.com/users/hbellows/following{/other_user}","gists_url":"https://api.github.com/users/hbellows/gists{/gist_id}","starred_url":"https://api.github.com/users/hbellows/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hbellows/subscriptions","organizations_url":"https://api.github.com/users/hbellows/orgs","repos_url":"https://api.github.com/users/hbellows/repos","events_url":"https://api.github.com/users/hbellows/events{/privacy}","received_events_url":"https://api.github.com/users/hbellows/received_events","type":"User","site_admin":false},"html_url":"https://github.com/hbellows/Brownfield-of-Dreams","description":null,"fork":true,"url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams","forks_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/forks","keys_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/teams","hooks_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/hooks","issue_events_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/issues/events{/number}","events_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/events","assignees_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/assignees{/user}","branches_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/branches{/branch}","tags_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/tags","blobs_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/git/refs{/sha}","trees_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/statuses/{sha}","languages_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/languages","stargazers_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/stargazers","contributors_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/contributors","subscribers_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/subscribers","subscription_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/subscription","commits_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/commits{/sha}","git_commits_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/git/commits{/sha}","comments_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/comments{/number}","issue_comment_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/issues/comments{/number}","contents_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/contents/{+path}","compare_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/merges","archive_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/downloads","issues_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/issues{/number}","pulls_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/pulls{/number}","milestones_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/milestones{/number}","notifications_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/labels{/name}","releases_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/releases{/id}","deployments_url":"https://api.github.com/repos/hbellows/Brownfield-of-Dreams/deployments","created_at":"2019-02-14T01:40:30Z","updated_at":"2019-02-14T01:40:32Z","pushed_at":"2018-12-14T03:40:21Z","git_url":"git://github.com/hbellows/Brownfield-of-Dreams.git","ssh_url":"git@github.com:hbellows/Brownfield-of-Dreams.git","clone_url":"https://github.com/hbellows/Brownfield-of-Dreams.git","svn_url":"https://github.com/hbellows/Brownfield-of-Dreams","homepage":null,"size":648,"stargazers_count":0,"watchers_count":0,"language":"JavaScript","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":170214553,"node_id":"MDEwOlJlcG9zaXRvcnkxNzAyMTQ1NTM=","name":"git_wired_be","full_name":"hbellows/git_wired_be","private":false,"owner":{"login":"hbellows","id":35637783,"node_id":"MDQ6VXNlcjM1NjM3Nzgz","avatar_url":"https://avatars2.githubusercontent.com/u/35637783?v=4","gravatar_id":"","url":"https://api.github.com/users/hbellows","html_url":"https://github.com/hbellows","followers_url":"https://api.github.com/users/hbellows/followers","following_url":"https://api.github.com/user[...]
