---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/projects/2166821/columns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB API KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1550371233'
      Etag:
      - W/"f2b4383131020f0035f8aeb79a3d79fa"
      X-Oauth-Scopes:
      - admin:business, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/projects/columns/4407129","project_url":"https://api.github.com/projects/2166821","cards_url":"https://api.github.com/projects/columns/4407129/cards","id":4407129,"node_id":"MDEzOlByb2plY3RDb2x1bW40NDA3MTI5","name":"To
        do","created_at":"2019-02-12T13:01:43Z","updated_at":"2019-02-17T01:32:13Z"},{"url":"https://api.github.com/projects/columns/4407130","project_url":"https://api.github.com/projects/2166821","cards_url":"https://api.github.com/projects/columns/4407130/cards","id":4407130,"node_id":"MDEzOlByb2plY3RDb2x1bW40NDA3MTMw","name":"In
        progress","created_at":"2019-02-12T13:01:43Z","updated_at":"2019-02-13T20:36:49Z"},{"url":"https://api.github.com/projects/columns/4407131","project_url":"https://api.github.com/projects/2166821","cards_url":"https://a[...]
