---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/projects/columns/4407129/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB API KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1550376554'
      Etag:
      - W/"feb1dc06cfb3436bc4164f52093d64cc"
      X-Oauth-Scopes:
      - admin:business, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/projects/columns/cards/17743783","project_url":"https://api.github.com/projects/2166821","id":17743783,"node_id":"MDExOlByb2plY3RDYXJkMTc3NDM3ODM=","note":null,"archived":false,"creator":{"login":"hbellows","id":35637783,"node_id":"MDQ6VXNlcjM1NjM3Nzgz","avatar_url":"https://avatars2.githubusercontent.com/u/35637783?v=4","gravatar_id":"","url":"https://api.github.com/users/hbellows","html_url":"https://github.com/hbellows","followers_url":"https://api.github.com/users/hbellows/followers","following_url":"https://api.github.com/users/hbellows/following{/other_user}","gists_url":"https://api.github.com/users/hbellows/gists{/gist_id}","starred_url":"https://api.github.com/users/hbellows/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hbellows/subscriptions","organizations_url":"https://api.github.com/users/hbellows/orgs","repos_url":"https://api.github.com/users/hbellows/repos","events_url":"https://api.github.com/users/hbellows/events{/privacy}","received_events_url":"https://api.github.com/users/hbellows/received_events","type":"User","site_admin":false},"created_at":"2019-02-17T01:32:13Z","updated_at":"2019-02-17T01:32:13Z","column_url":"https://api.github.com/projects/columns/4407129","content_url":"https://api.github.com/repos/hbellows/git_wired_be/issues/30"},{"url":"https://api.github.com/projects/columns/cards/17743652","project_url":"https://api.github.com/projects/2166821","id":17743652,"node_id":"MDExOlByb2plY3RDYXJkMTc3NDM2NTI=","note":null,"archived":false,"creator":{"login":"hbellows","id":35637783,"node_id":"MDQ6VXNlcjM1NjM3Nzgz","avatar_url":"https://avatars2.githubusercontent.com/u/35637783?v=4","gravatar_id":"","url":"https://api.github.com/users/hbellows","html_url":"https:/[...]
