---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hbellows/git_wired_be/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB API KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1550241787'
      Etag:
      - W/"6627177da567f2f525546bfe8cae2788"
      X-Oauth-Scopes:
      - admin:business, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Github-Media-Type:
      - github.inertia-preview; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"owner_url":"https://api.github.com/repos/hbellows/git_wired_be","url":"https://api.github.com/projects/2166821","html_url":"https://github.com/hbellows/git_wired_be/projects/1","columns_url":"https://api.github.com/projects/2166821/columns","id":2166821,"node_id":"MDc6UHJvamVjdDIxNjY4MjE=","name":"git_wired_be","body":"API
        for the git_wired frontend application","number":1,"state":"open","creator":{"login":"hbellows","id":35637783,"node_id":"MDQ6VXNlcjM1NjM3Nzgz","avatar_url":"https://avatars2.githubusercontent.com/u/35637783?v=4","gravatar_id":"","url":"https://api.github.com/users/hbellows","html_url":"https://github.com/hbellows","followers_url":"https://api.github.com/users/hbellows/followers","following_url":"https://api.github.com/users/hbellows/following{/other_user}","gists_url":"https://api.github.com/users/hbellows/gists{/gist_id}","starred_url":"https://api.github.com/users/hbellows/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hbellows/subscriptions","organizations_url":"https://api.github.com/users/hbellows/orgs","repos_url":"https://api.github.com/users/hbellows/repos","events_url":"https://api.github.com/users/hbellows/events{/privacy}","received_events_url":"https://api.github.com/users/hbellows/received_events","type":"User","site_admin":false},"created_at":"2019-02-12T13:01:43Z","updated_at":"2019-02-13T20:38:39Z"}]'
  recorded_at: Fri, 15 Feb 2019 13:43:06 GMT
recorded_with: VCR 4.0.0
